<h1>Find Wines <a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts"><img src="http://cache.wine.com/images/logos/80x80_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" /></a></h1>
<h3><%= flash[:errors] %></h3>
<form action="<%=wines_api_retrieval_url%>" method="POST">
  <label for="search_query">Search by wine name: </label>
  <input type="text" name="search[query]" value="">
  <br>

  <button>Submit</button>
</form>
